@import '../../index';

#services {
    position: relative;
    background: var(--background-secondary);
    color: var(--text-primary);
    height: 100%;
    padding: toRem(60) toRem(20);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include minWidth(tablet) {
        height: 100vh;
    }

    @include minWidth(tablet) {
        padding: toRem(40);
        height: 100vh;
    }

    @media screen and (max-height: 900px) {
        height: 100%;
    }

    .cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: toRem(20);
        margin: toRem(40) 0;

        @include minWidth(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include minWidth(desktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        .servicesBx {
            background: var(--card-primary);
            color: var(--text-primary);
            padding: toRem(50) toRem(20);
            min-height: toRem(232);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            perspective: toRem(1000);
            cursor: pointer;

            &:hover {
                cursor: pointer;

                .service-header {
                    .service-icon,
                    .service-title {
                        opacity: 1;
                    }
                }
            }

            &.active {
                transform: rotateY(360deg);

                .service-header {
                    transform: rotateY(0deg);
                }

                .service-skills {
                    transform: rotateY(0deg);
                    top: auto;
                }
            }

            .service-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: transform 0.6s;
                transition: transform 0.6s, opacity 0.6s;
                transform-origin: top center;

                .service-icon {
                    height: toRem(96);
                    transition: 0.5s;
                    margin-bottom: toRem(10);
                    backface-visibility: hidden;
                    fill: var(--stack-img);

                    &.hidden {
                        display: none;
                    }
                }

                .service-title {
                    font-weight: 500;
                    color: var(--text-secondary);
                    transition: margin 0.6s;
                }
            }

            .service-skills {
                width: 100%;
                top: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                transform: rotateY(180deg);
                transform: rotateY(-180deg);
                backface-visibility: hidden;
                transition: transform 0.6s, opacity 0.6s;
                transform-origin: top center;

                &.hidden {
                    display: none;
                }

                .skill-badget {
                    background-color: $primary-light;
                    color: $primary-dark;
                    padding: toRem(4) toRem(8);
                    border-radius: toRem(4);
                    margin: toRem(4);
                }
            }
        }
    }

    .skills {
        width: 100%;
        max-width: toRem(1080);
        margin: toRem(40) 0;
		overflow: scroll;
		scrollbar-width: none;

        .ruler {
            width: 100%;
            display: none;

            :first-child {
                font-weight: 700;
            }

            @include minWidth(tablet) {
                display: flex;
                justify-content: space-between;
            }
        }

        .charts {
            display: flex;
            flex-direction: column;

            .accordion-card {
                border-radius: toRem(4);
                margin-bottom: toRem(8);
                overflow: hidden;
                font-weight: 500;
                font-size: toRem(14);
                position: relative;
                margin-bottom: toRem(16);
                color: var(--title-primary);

                &:last-child {
                    margin-bottom: 0;
                }

                .accordion-header {
                    .accordion-toggle {
                        display: flex;
                        align-items: flex-start;
                        cursor: pointer;
                        justify-content: space-between;
                        background-color: var(--card-primary);

                        .accordion-title {
                            font-weight: 500;
                            font-size: toRem(16);
                            position: relative;
                            margin-bottom: 0;
                            color: var(--title-primary);
                        }

                        .accordion-icon {
                            width: toRem(16);
                            position: relative;
                            top: toRem(2);
                            fill: var(--title-primary);
                            font-size: toRem(12);
                            transition: 0.5s;
                        }

                        &.active {
                            background-color: var(--title-primary);

                            .accordion-title {
                                color: var(--input-text-secondary);
                            }

                            .accordion-icon {
                                transform: rotate(180deg);
                                fill: $grey-100;
                                transition: 0.5s;
                            }
                        }
                    }
                }

                .accordion-collapse {
                    position: relative;
                    height: 0;
                    overflow: hidden;

                    &.show {
                        height: auto;
                    }

                    .accordion-body {
                        flex: 1 1 auto;
                        min-height: toRem(1);
                        padding: toRem(15);
                        background-color: var(--card-primary);
                    }
                }
            }

            .chart--item {
                padding: toRem(5);
                transition: 2s;

                .chart__bar {
                    display: flex;
                    align-items: center;
                    height: toRem(32);
                    background-color: var(--title-primary);
                    margin: toRem(4);
                    padding: 0 toRem(8);
                    border-radius: toRem(4);
                }

                .chart__label {
                    font-size: toRem(16);
                    font-weight: 400;
                    color: var(--input-text-secondary);
                }
            }
        }
    }
}
