@import '../../index.scss';

#hero {
    width: 100%;
    min-height: 100vh;
	background: var(--background-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: toRem(60) toRem(20);
    position: relative;

	@include minWidth(tablet) {
        padding: toRem(60) toRem(50);
    }

	@include minWidth(desktop) {
		padding: toRem(100);
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 25vw;
        background: $secondary-color;
        border-top-right-radius: 25vw;
        border-top-left-radius: 25vw;
    }

    .hero__container {
        width: 100%;
        max-width: toRem($grid);
        margin: 0 auto;
        // position: relative;

        .hero__content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: toRem(10);
            max-width: toRem(650);
            z-index: 1;

            h2 {
                position: relative;
                // font-size: 4.4em;
                font-weight: 700;
            }

            p {
                position: relative;
                color: $grey-100;
                // font-size: 1.2em;
                line-height: 1.6em;
            }
        }

        .avatar {
            position: absolute;
            bottom: 0;	
			max-height: 60vh;
			right: 0;

			@include minWidth(tablet) {
				right: toRem(100);		
            }
        }
    }

}