@import '../../index.scss';


#portfolio {
  background: var(--background-primary);
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding: toRem(60) toRem(20);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include minWidth(tablet) {
    padding: toRem(100) toRem(50) toRem(50);
  }

  @include minWidth(desktop) {
	padding: toRem(120) toRem(40);
  }

  .content {
    display: grid;
	grid-template-columns: repeat(1, 1fr);
    grid-gap: toRem(20);
    margin: toRem(40) 0;

	@include minWidth(tablet) {
		grid-template-columns: repeat(2, 1fr);
    }

	@include minWidth(desktop) {
		grid-template-columns: repeat(3, 1fr);
    }

    .imgBx {
      position: relative;

      img {
        max-width: 100%;
        /*max-width: 440);*/
        /*max-height: 330);*/
      }
    }
  }
}