@import '../../index.scss';


#contact {
    position: relative;
    background: var(--background-secondary);
    min-height: 100vh;

	padding: toRem(60) toRem(20);

    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;

	@include minWidth(tablet) {
        padding: toRem(100) toRem(50) toRem(50);
    }

	@include minWidth(desktop) {
		padding: toRem(120) toRem(40);
    }

    .form-container {
		width: 100%;
        max-width: toRem(600);
        form {
			width: 100%;
			margin-top: toRem(24);
            display: grid;
			grid-template: 
				"name"
				"email"
				"message"
				"submit"
			;

			@include minWidth(tablet) {
				gap: toRem(24);
				grid-template: 
					"name email"
					"message message"
					"submit submit"
				;	
			}

			.contact--name {
				grid-area: name;
			}

			.contact--email {
				grid-area: email;
			}

			.contact--message {
				grid-area: message;
			}
	
			.contact--submit {
				grid-area: submit;
				text-align: center;
				.contact__feedback {
					font-weight: 400;
					min-height: 24px;
					.contact__submit-status {
						&--info {color: var(--info-alert);}
						&--error {color: var(--error-alert);}
						&--success {color: var(--success-alert);}
					}
				}
			}

			.group {
				margin: 0;
				position: relative;
				margin: toRem(24) 0;
				
				textarea {
					resize: none;
				}
	
				input,
				textarea {
					background: none;
					color: var(--text-secondary);
					font-size: toRem(16);
					padding: toRem(8) toRem(4);
					display: block;
					width: 100%;
					border: none;
					border-radius: 0;
					border-bottom: toRem(1) solid var(--input-secondary);
	
					&:focus {
						outline: none;
	
						~.bar {
							&:before {
								width: 100%;
							}
						}
					}
	
					&:focus,
					&:valid {
						~label {
							top: toRem(-14);
							font-size: toRem(12);
							color: var(--input-secondary);
						}
	
					}
				}
	
	
				.bar {
					position: relative;
					display: block;
					width: 100%;
	
					&:before {
						content: '';
						height: toRem(2);
						width: 0;
						bottom: 0;
						position: absolute;
						background: var(--input-secondary);
						transition: 300ms ease all;
						left: 0%;
					}
				}
	
				label {
					color: $primary-light;
					font-weight: normal;
					position: absolute;
					pointer-events: none;
					left: toRem(5);
					top: toRem(10);
					transition: 300ms ease all;
				}
			}
		}
    }
}