// FONTS

// TITLES
@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 300;
    src: local('Simplon Light'), url('/fonts/simplon/simplon-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 400;
    src: local('Simplon Regular'), url('/fonts/simplon/simplon-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 500;
    src: local('Simplon Medium'), url('/fonts/simplon/simplon-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 700;
    src: local('Simplon Bold'), url('/fonts/simplon/simplon-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 900;
    src: local('Simplon Headline'), url('/fonts/simplon/simplon-headline.ttf') format('truetype');
}


// TEXT
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), url('/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy Regular'), url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local('Gilroy Bold'), url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local('Gilroy Black'), url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    src: local('Gilroy Headline'), url('/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
}



// VARIABLES
$font-primary: "Simplon";
$font-secondary: "Gilroy";