// FONTS
@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 300;
    src: local('Simplon Light'), url('/fonts/simplon/simplon-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 400;
    src: local('Simplon Regular'), url('/fonts/simplon/simplon-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 500;
    src: local('Simplon Medium'), url('/fonts/simplon/simplon-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplon';
    font-style: normal;
    font-weight: 700;
    src: local('Simplon Bold'), url('/fonts/simplon/simplon-bold.ttf') format('truetype');
}

@font-face {
    font-family: Simplon;
    font-style: normal;
    font-weight: 900;
    src: local('Simplon Headline'), url('/fonts/simplon/simplon-headline.ttf') format('truetype');
}

$font-primary: "Simplon";