// COMMON CLASSES
.title-primary,
.title-secondary {
    font-family: $font-primary;
    font-size: toRem($title-mobile);
    font-weight: 700;

    @include minWidth(tablet) {
        font-size: toRem($title-desktop);
    }
}

.title-primary {
    color: var(--title-secondary);
}

.title-secondary {
    color: var(--title-primary);
}

.text-primary {
    color: $grey-100;
}

.text-secondary {
    color: var(--text-secondary);
}

.btn-primary {
    color: var(--input-primary);
    border-color: var(--input-primary);

    &:hover {
        box-shadow: inset toRem(200) 0 0 0 var(--input-primary), inset toRem(-200) 0 0 0 var(--input-primary);
        border-color: var(--input-primary);
        color: var(--input-text-primary);
    }
}

.btn-secondary {
    color: var(--input-secondary);
    border-color: var(--input-secondary);

    &:hover {
        box-shadow: inset toRem(200) 0 0 0 var(--input-secondary), inset toRem(-200) 0 0 0 var(--input-secondary);
        border-color: var(--input-secondary);
        color: var(--input-text-secondary);
    }
}

.btn-primary,
.btn-secondary {
    position: relative;
    display: inline-block;
    font-size: toRem($text-size);
    width: toRem(216);
    background: transparent;
    text-align: center;
    padding: toRem($text-size);
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: toRem(10);
    border: toRem(2) solid;
    border-radius: 0;
    transition: 0.5s;
    cursor: pointer;

    &:disabled {
        color: $primary-light;
        border-color: $primary-light;
        box-shadow: none;
        cursor: default;
    }
}

.grid-container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.no-scroll {
    overflow: hidden;
}

.secText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    p {
        max-width: 100%;
        text-align: center;
        line-height: 1.5em;

        @include minWidth(desktop) {
            max-width: toRem(700);
        }
    }
}